<div class="container">
  <h1 class="text-center mb-4">Cica regisztráció</h1>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center">
          <span (click)="newCat()">&#10010;</span>
        </th>
        <th scope="col">Cica név</th>
        <th scope="col">Cica fajtája</th>
        <th scope="col">Cica kora</th>
        <th scope="col">Tulajdonos neve</th>
        <th scope="col">Tulajdonos email</th>
        <th scope="col">Be van-e oltva</th>
      </tr>
    </thead>
    <tbody>
      @for (cat of cats; track $index) {


      <tr >
        <th scope="row" class="text-center">
          <span (click)="doModify(cat)" class="text-primary" style="cursor: pointer;">&#9998;</span>
          <span (click)="doDelete(cat)" class="text-danger" style="cursor: pointer;">&#10008;</span>
        </th>
        <td>{{ cat.name }}</td>
        <td>{{ cat.breed }}</td>
        <td>{{ cat.age }}</td>
        <td>{{ cat.ownerName }}</td>
        <td>{{ cat.ownerEmail }}</td>
        <td>{{ cat.vaccinated ? 'Igen' : 'Nem' }}</td>
      </tr>
    }
    </tbody>
  </table>
</div>


<app-cat [cat]="new == undefined  ? modify: new" (canceled)="new = undefined; modify = undefined;" (saved)="save($event)"></app-cat>